{% extends '@App/layout.html.twig' %}

{% block body %}
    <nav class="nav">
        <ul class="nav__list container">
            {% for category in categories %}
                <li class="nav__item">
                    <a href="{{ path('allLot', { id: category.id }) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <section class="lot-item container">
        {% for lot in lots %}
            <h2>{{ lot.name }}</h2>
            <div class="lot-item__content">
                <div class="lot-item__left">
                    <div class="lot-item__image">
                        <img src="{{ asset('uploads/img/' ~ lot.pictureUrl) }}" width="730" height="548" alt="{{ lot.name }}">
                    </div>
{#                    <p class="lot-item__category">Категория:<span>{{ lot.name }}</span></p>#}
                    <p class="lot-item__description">{{ lot.content }}</p>
                </div>

                <div class="lot-item__right">
                    {% if is_granted('ROLE_USER') %}
                        <div class="lot-item__state">
                            <div class="lot-item__timer timer  {{ finishing(lot.dateEnd|date('d.m.Y')) }}">
                                {{ lot.dateEnd|date('d.m.Y')|dateend }}
                            </div>
                            <div class="lot-item__cost-state">
                                <div class="lot-item__rate">
                                    <span class="lot-item__amount">Текущая цена</span>
                                    <span class="lot-item__cost">
                                {% if  ratesLotId %}
                                    {% for rate in ratesLotId %}
                                        {{ rate.price|price }}
                                    {% endfor %}
                                {% else %}
                                    {{ lot.price|price }}
                                {% endif %}
                            </span>
                                </div>
                                <div class="lot-item__min-cost">
                                    Мин. ставка
                                    <span>{{ minRate|price }}</span>
                                </div>
                            </div>
                            {% if ratesLot.user.id != app.user.id and lotId.user.id != app.user.id %}
                            <div class="lot-item__form">
                                {{ form_start(addRateForm) }}
                                {{ form_errors(addRateForm) }}
                                <p class="lot-item__form-item form__item">
                                    {{ form_label(addRateForm.price) }}
                                    {{ form_widget(addRateForm.price) }}
                                    <div class="class_error">
                                        {{ error }}
                                        {{ form_errors(addRateForm.price) }}
                                    </div>
                                {{ form_widget(addRateForm.save) }}

                                {{ form_end(addRateForm) }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="history">
                            <h3>История ставок (<span>{{ rates|length }}</span>)</h3>
                            <table class="history__list">
                                {% for rate in rates %}
                                    <tr class="history__item">
                                        <td class="history__name">{{ rate.user.name }}</td>
                                        <td class="history__price">{{ rate.price|price }}</td>
                                        <td class="history__time">{{ rate.dateAdd|date('d.m.Y') }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}
