{% extends '@App/layout.html.twig' %}

{% block title %}Вход в систему{% endblock %}

{% block body %}

    <nav class="nav">
        <ul class="nav__list container">
            {% for category in categories %}
                <li class="nav__item">
                    <a href="{{ path('allLot', { id: category.id }) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form enctype="multipart/form-data" class="form container" action="{{ path('login') }}" method="post">
        <h2>Вход</h2>
        <div class="form__item">
            <label for="username">E-mail <sup>*</sup></label>
            <input id="username" type="text" name="_username" placeholder="Введите e-mail" value="{{ last_username }}">
        </div>
        <div class="form__item form__item--last">
            <label for="password">Пароль <sup>*</sup></label>
            <input id="password" type="password" name="_password" placeholder="Введите пароль">
        </div>
        {#Перенапровление на главную страницу#}
        <input type="hidden" name="_target_path" value="/" />
        <button type="submit" class="button" name="submit">Войти</button>
    </form>

{% endblock %}
