{% extends '@App/layout.html.twig' %}

{% block body %}

    <nav class="nav">
        <ul class="nav__list container">
            {% for category in categories %}
                <li class="nav__item">
                    <a href="{{ path('allLot', { id: category.id }) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
<div class="form container">
    {{ form_start(addUserForm) }}
    <h2>Регистрация нового аккаунта</h2>

    {{ form_errors(addUserForm) }}
    <div class="form__item">
        {{ form_label(addUserForm.email) }}
        {{ form_widget(addUserForm.email) }}
        <span class="class_error">{{ form_errors(addUserForm.email) }}</span>
    </div>
    <div class="form__item">
        {{ form_label(addUserForm.plainPassword) }}
        {{ form_widget(addUserForm.plainPassword) }}
        <span class="class_error">{{ form_errors(addUserForm.plainPassword) }}</span>
    </div>
    <div class="form__item">
        {{ form_label(addUserForm.name) }}
        {{ form_widget(addUserForm.name) }}
        <span class="class_error">{{ form_errors(addUserForm.name) }}</span>
    </div>
    <div class="form__item">
        {{ form_label(addUserForm.contact) }}
        {{ form_widget(addUserForm.contact) }}
        <span class="class_error">{{ form_errors(addUserForm.contact) }}</span>
    </div>
    {{ form_widget(addUserForm.save) }}
    <a class="text-link" href="#">Уже есть аккаунт</a>
    {{ form_end(addUserForm) }}
</div>

{% endblock %}
